body {
    text-align: center;
}

header {
    background-color: rgb(204, 203, 203);
}

h1, h2 {
    background-color: gray;
}

span {
    font-weight: bold;
}

footer {
    background-color: #005677;
}